<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

	RewriteEngine On
	Options Indexes FollowSymLinks
	AllowOverride All
	Require all granted
	RewriteRule ^(.*)$ ./public/index.php$1 [QSA]

</IfModule>
